.header-image {
    text-align: center; /* Centers the image */
}

.header-image img {
    max-width: 100%; /* Ensures the image is responsive */
    height: 50px; /* Maintains aspect ratio */
    margin-bottom: -10px;
}

.spacer {
    height: 1px; /* Grubość linii */
    background-color: #ccc; /* Kolor szary */
    margin: 15px 0; /* Margines górny i dolny */
}

.hidden {
    display: none; /* Ukrycie elementu */
}

.error-message {
    color: red;
    margin-left: 10px;
}

.risk {
    color: rgb(199, 71, 71);
    font-weight: bold, underline, italic;
}

.info {
    color: rgb(140, 140, 255);
    font-weight: underline, italic;
}