<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock %} &ndash; Akago Systems Incorporated</title>
        <meta name="viewport" content="width=device-width" />
        <link rel="stylesheet" href="https://unpkg.com/sakura.css/css/sakura-dark.css">
        {% block head %}{% endblock %}
    </head>
    <body>
        {% block content %}{% endblock %}
    </body>
</html>
