{% extends "base.jinja" %}
{% block title %}Strona główna{% endblock %}
{% block content %}
    <header>
        <h1>Akago Systems Incorporated</h1>
        <img src="/static/logo.png" width="400" height="400" style="width: 64px; height: 64px;">
    </header>
    <p><a href="/form">Złóż wniosek o augmentację</a></p>
{% endblock %}
