{% extends "base.jinja" %}
{% block title %}Nieodpowiedni wiek{% endblock %}
{% block content %}
    <header>
        <h1>Nieodpowiedni wiek</h1>
        <img src="/static/logo.png" width="400" height="400" style="width: 64px; height: 64px;">
    </header>
    <p>Przykro nam, ale musisz mieć ukończone 18 lat, aby móc złożyć wniosek o augmentację.</p>
    <p><a href="/">Powrót na stronę główną</a></p>
{% endblock %}
